*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.form-input {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(236 239 243 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.75rem;
}

.sticky {
  position: sticky;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-\[32px\] {
  margin-top: 32px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.\!gap-y-\[100px\] {
  row-gap: 100px !important;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.self-stretch {
  align-self: stretch;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-\[\#ECEFF3\] {
  --tw-border-opacity: 1;
  border-color: rgb(236 239 243 / var(--tw-border-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-mold-green {
  --tw-bg-opacity: 1;
  background-color: rgb(230 235 228 / var(--tw-bg-opacity));
}

.\!bg-mold-green {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(230 235 228 / var(--tw-bg-opacity)) !important;
}

.p-2 {
  padding: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.leading-5 {
  line-height: 1.25rem;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150 {
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  font-family: "Urbanist", sans-serif;
  color: #212529;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text-dark: #0D0D12;
  --text-color: #2F3349;
  --text-muted: #36394A;
  --text-subdued: #818898;
  --primary-beige: #FEF3DF;
  --secondary-beige: #D7C49E;
  --primary-green: #E0F1F1;
  --secondary-green: #BDDFDF;
  --mold-green: #E6EBE4;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
  line-height: 1.8;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--white);
  padding: 1rem 0;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--white);
  transition: box-shadow 0.3s ease;
}

.scrolled {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

nav .logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
}

nav .logo-wrapper .logo {
  height: 40px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--text-dark);
  text-decoration: underline;
}

.donate-btn {
  background-color: var(--text-muted);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: var(--white);
  font-weight: 700;
}

.donate-btn:hover {
  background-color: var(--text-dark);
  color: var(--white);
  text-decoration: none;
}

section {
  width: 100%;
  background-color: var(--primary-beige);
  padding: 4rem 2rem;
}

.section-content {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-content .section-title {
  margin-bottom: 24px;
  text-align: left;
  width: 100%;
}

.section-content .section-description {
  color: var(--text-muted);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  text-align: left;
}

.section-content.donations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.check-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 24px;
}

.check-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check-list-item img {
  width: 16px;
  height: 16px;
}

button {
  background-color: var(--secondary-beige);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #fff;
  font-weight: 600;
}

button.square-button {
  display: flex;
  padding: 13px 24px 11px 24px;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-muted);
  color: var(--white);
  text-align: center;
  font-size: 16px;
}

button.big-square-button {
  display: flex;
  padding: 24px 48px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: var(--text-muted);
  color: var(--white);
  font-size: 24px;
  text-wrap: nowrap;
}

button:hover {
  background-color: var(--text-dark);
  color: #fff;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-beige);
}

.header-image {
  position: relative;
  background-color: #f1f3f5;
  width: 100%;
  max-width: 500px;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 1rem;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .content {
  flex: 1;
  padding-right: 2rem;
}

#about .half-circle {
  position: absolute;
  bottom: -190px;
  left: 0;
  width: 600px;
  height: 600px;
}

#about .about-title {
  margin-bottom: 24px;
}

#about .about-text {
  color: var(--text-muted);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

#donations {
  background-color: var(--white);
}

.section-content.donations {
  display: inherit;
}

.donation-progress {
  background-color: var(--primary-beige);
  padding: 24px;
  border-radius: 10px;
  margin-top: 1rem;
}

.donation-progress .donation-progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation-progress .donation-progress-info .donation-progress-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #464646;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.donation-progress .donation-progress-info .donation-progress-info-item .amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #464646;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.donors-list {
  display: flex;
  margin: 24px auto;
  gap: 60px;
}

.donors-column span {
  color: #464646;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

progress {
  width: 100%;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 16px;
}

progress::-webkit-progress-bar {
  background-color: var(--white);
}

progress::-webkit-progress-value {
  background-color: var(--text-muted);
}

progress::-moz-progress-bar {
  background-color: var(--text-muted);
}

#details {
  background-color: var(--primary-green);
}

.section-content.details {
  flex-direction: column;
}

#certified-products {
  background-color: var(--white);
}

.section-content.certified-products {
  flex-direction: column;
}

.wave-image {
  width: 151px;
  height: auto;
  margin: 8px auto;
}

.text-center {
  text-align: center !important;
}

footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
  text-align: center;
}

.footer-section {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
  text-align: left;
  width: 200px;
}

.footer-section h3 {
  color: var(--text-color);
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--text-dark);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 32px;
  width: 100%;
  margin-top: 56px;
  align-items: center;
  justify-content: center;
}

.product {
  background-color: #f1f3f5;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

.product-image {
  width: 151px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 924px;
  margin: 0 auto;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

#testimonials {
  padding: 8rem 2rem;
  background-color: var(--mold-green);
}

.testimonial {
  flex: 0 0 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: var(--text-muted);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--text-muted);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* details table */

table {
  border-collapse: initial;
  border-spacing: 0;
  background-color: var(--primary-green);
  margin-top: 48px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.row-title {
  color: var(--text-muted);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

th,
td {
  border: 1px solid var(--secondary-green);
  padding: 10px 20px;
  text-align: center;
}

th:first-child,
td:first-child {
  border-left: none;
}

th:last-child,
td:last-child {
  border-right: none;
}

tr:first-child th {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

th {
  font-weight: bold;
}

.icon {
  font-size: 24px;
  text-align: center;
}

.cross {
  color: red;
}

.check {
  color: green;
}

.topnav {
  display: none;
}

#about-us {
  background-color: var(--mold-green);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 780px;
}

.about-section {
  background-color: var(--white) !important;
}

.elementor-heading-title {
  color: var(--text-color);
  font-family: "Urbanist", Sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 24px;
}

.elementor-container p {
  color: var(--text-color);
  font-family: "Urbanist", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 18px 0;
}

.certificate-hero {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.certificate-hero p {
  margin: 0;
}

/* Modal stilleri */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  display: flex;
  width: 80%;
  width: 520px;
  padding: 16px 24px;
  flex-direction: column;
  gap: 16px;
  margin: 15% auto;
  border-radius: 12px;
  background: var(--Background-White, #FFF);
}

.modal-content-header h2 {
  margin: 0;
}

.modal-content-header p {
  margin: 0;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 24px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .topnav {
    display: block;
    overflow: hidden;
    background-color: #fff;
    position: relative;
  }

  .topnav img {
    width: 36px;
    height: 36px;
  }

  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */

  .topnav a {
    color: var(--text-muted);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
  }

  /* Style the hamburger menu */

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Add a grey background color on mouse-over */

  .topnav a:hover {
    background-color: #fff;
    color: black;
  }

  /* Style the active link (or home/logo) */

  .active {
    display: flex;
    background-color: white;
    color: white;
    gap: 0.5rem;
  }

  .active h3 {
    margin: 0;
  }

  .header-image {
    display: none;
  }

  .donors-list {
    flex-direction: column;
    gap: 0;
  }

  .donors-list p {
    margin: 8px;
    justify-content: center;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 32px;
    width: 100%;
    margin-top: 56px;
    align-items: center;
    justify-content: center;
  }

  .next {
    right: -20px;
  }

  .prev {
    left: -20px;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  .section-content .section-description {
    font-size: 16px;
    line-height: 24px;
  }

  .donation-progress .donation-progress-info {
    flex-direction: column;
    gap: 1rem;
  }

  footer {
    padding: 24px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 20px;
  }

  .footer-section {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
}

.focus\:border-\[\#ECEFF3\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(236 239 243 / var(--tw-border-opacity));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-opacity-50:focus {
  --tw-ring-opacity: 0.5;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}